extends layout

block content
  h2= title
  .orders
    each order in orders
      .order
        - const complete = order.done ? 'checked' : '';
        form.completeOrderForm(action=`/api/orders/${order._id}/done` class=complete)
          button(type="submit" name="done" id=order._id)
          label(for=order._id) Done? 
        //- - const date = order.date.substr(0, 10);
        h2 Event Date: #{order.date}
        h2 Name: #{order.name}
        h2 Email: 
          a(href=`mailto:${order.email}`)= order.email
        h2 City: 
          a(href=`https://www.google.com/maps/search/${order.city}`)= order.city
        h2 Theme: #{order.theme}
        h2 Quantity: #{order.quantity}
        h2 Flavor: #{order.flavor}
        if order.comments
          h2 Comments: #{order.comments}
