doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(name="theme-color", content="#feeeed")
    link(rel="shortcut icon" href="/assets/img/favicon.png")
    link(rel="mask-icon" href="/assets/img/website-icon.svg" color="#feeeed")
    link(rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png")
    meta(name="description" content="The Flour Boutique is a bakery from Lynette McAnsh based in Utica, Michigan. Cookies range from various shapes and sizes as well as from basic to elaborate.")

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PX2HWRB');
    //  End Google Tag Manager 

  body

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .wrapper
      block content
      
    footer
      a(href="/prices") Price Guide
      p &copy; <span></span> The Flour Boutique
      a(href="/cottagelaw") Cottage Law

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
